<footer class="footer bg-primary py-3 mt-auto">
    <div class="container text-center">
        <span class="text-light">GroupQ 2023</span>
        <a class="nav-link" style="color: #FFF;" href="/contact">Contact Us</a>
    </div>
</footer>