<% layout('layout/boilerplate') %>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            background-color: black;
            color: white;  /* Changing text color to white for visibility against black background */
        }
        img {
            margin-left: 250px; /* Adding left margin to the image */
        }
        h1 {
            margin-left: 220px; /* Adding right margin to the h1 */
        }
    </style>
</head>

<body>
    <h1 margin-left: 250px;>Welcome QTeam Computer Store </h1>
    <img src="img/pc1.jpg" alt="laptop">


</body>

</html>
