<% layout('layout/boilerplate') %>

<div class="container">
    <h1 class="my-4">ACCOUNTS</h1>
    <div class="row">
      <% for(let user of users) {
            if (user.role === 'applicant') { %>
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"> <%= user.username %> </h5>
              <h5 class="card-title"> <%= user.role %> </h5>
              <a href="/manage/<%= user._id %>" class="btn btn-primary mt-3">Update user</a>
            </div>
          </div>
        </div>
      <% } } %>
    </div>
  </div>
  
  
   
 